.login-container{
  background-color: blanchedalmond;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  flex-grow: 1 1;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.image-login{
  border: 2px solid black;
  flex-grow: 1;
}


.logincss{
  background-color:aqua;
  border: 2px solid black;
  display: flex;
  flex-grow: 1;
  flex-direction:column;
  padding: 10px;
}